*.bak
Makefile.settings
*.obj
*.sdf
*.exp
/CvGameCoreDLL_orig
*.suo
*.ilk
*.lib
*.pch
*.pdb
/PAK
/PieAncientEuropeVI/CvGameCoreDLL/Project/Debug
/PieAncientEuropeVI/CvGameCoreDLL/Project/temp_files/Debug
*.dds
*.bik
*.mov
*.mp3
*.wav
*.FPK
/PieAncientEuropeVI/CvGameCoreDLL/Boost-1.32.0
/PieAncientEuropeVI/CvGameCoreDLL/Python24
*.opensdf
PieAncientEuropeVII/CvGameCoreDLL/Project/temp_files/
PieAncientEuropeVII/CvGameCoreDLL/Project/Debug