*.bak
*.suo
*.ilk
*.lib
*.pch
*.pdb
/CvGameCoreDLL_orig
/PAK
*.dds
*.bik
*.mov
*.mp3
*.wav
*.FPK
/PieAncientEuropeVI/CvGameCoreDLL/Project/Makefile.settings
/PieAncientEuropeVI/CvGameCoreDLL/Project/*.sdf
/PieAncientEuropeVI/CvGameCoreDLL/Project/*.opensdf
/PieAncientEuropeVI/CvGameCoreDLL/Project/Debug
/PieAncientEuropeVI/CvGameCoreDLL/Project/temp_files/
/PieAncientEuropeVII/CvGameCoreDLL/Project/Makefile.settings
/PieAncientEuropeVII/CvGameCoreDLL/Project/*.sdf
/PieAncientEuropeVII/CvGameCoreDLL/Project/*.opensdf
/PieAncientEuropeVII/CvGameCoreDLL/Project/temp_files/
/CvGameCoreDLL_new
issue_AI_memory_size.PNG
issue_WB_apply.PNG
PieAncientEuropeVII/CvGameCoreDLL/Project/Debug/CvGameCoreDLL-PAE.log
